@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    resize: none;
}

:root{
    --color-primary: #7971ea;
    --color-secondary: #6610f2;
    --color-bg: #fff;
    --color-light: #8c92a0;
    --color-text: #111;
    --shadow: 0 2px 8px rgba(0,0,0,.4);
    --linear-gradient: linear-gradient(90deg, #6610f2, #7971ea);
    --transition: all .4s ease;
    --width-lg: 80%;
    --width-md: 90%;
    --width-sm: 95%;
}

.load {
    width: 100%;
    height: 100%;
    background: url(img/loader.gif) no-repeat center center;
    background-color: #191919;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-out 3s forwards;
    z-index: 9999;
}
  
@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
      z-index: -100;
    }
}

body{
    font-family: 'DM Sans', sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1.7;
}

::-webkit-scrollbar{
    height: .5rem;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: var(--color-bg);
}

::-webkit-scrollbar-thumb{
    background: var(--linear-gradient);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

a{
    color: var(--color-text);
}

span{
    font-size: .9rem;
}

h1,h2,h3,h4{
    line-height: 1.2;
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

h5{
    font-size: 1rem;
}

.container{
    margin: 0 auto;
    width: var(--width-lg);
}

section{
    padding: 5rem 0 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

.btn{
    font-weight: 500;
    display: inline-block;
    background: gold;
    width: 11rem;
    padding: 1rem;
    color: var(--color-bg);
    margin-top: 1rem;
    cursor: pointer;
    font-size: .8rem;
    transition: var(--transition);
    text-transform: capitalize;  
}

.btn:hover{
    box-shadow: var(--shadow);
    transform: translateY(-2px);
}

.title{
    text-align: center;
}

.title h2{
    display: inline-block;
    position: relative;
}

.title h2::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -3rem;
    height: .2rem;
    width: 2rem;
    background: var(--color-secondary);
}

.title h2::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -3rem;
    height: .2rem;
    width: 2rem;
    background: var(--color-secondary);
}

.container {
    margin: 0 auto;
    width: 80%;
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.social-icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border-radius: 50%;
    cursor: pointer;
}

.nt-container {
    background-color: rgba(0, 0, 0, 0.85);
}

.nav-top {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.nav-top div i {
    color: goldenrod;
    font-size: 0.8rem;
}

.nav-top div span {
    margin-left: .5rem;
}

.nav-top .social-icons {
    margin-top: 0;
}

.nav-top .social-icons i {
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
}

.nav-top .social-icons i:hover {
    color: goldenrod;
}

.logo img {
    width: 4rem;
    padding: 0.5rem 0;
}

.nl-container {
    background-color: #000;
    box-shadow: var(--shadow);
    border-bottom: 1px rgb(0, 136, 255);
}

.nl-container .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease;
}

.navlist {
    display: flex;
    gap: 2.2rem;
}

.menu-btn {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.navlist li a {
    color: #fff;
    font-size: 0.6rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.navlist li a:hover {
    color: rgb(0, 170, 255);
    border-bottom: 1px solid goldenrod;
}

.works {
    padding-bottom: 1rem;
}

.works .title p {
    padding-top: 0rem;
    margin-bottom: 30px;
    font-size: 2rem;
}

.works-container {
    text-align: center;
}

.works-container .step {
    width: 15%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.works-container .number {
    z-index: 1;
    width: 50%;
    height: 50px;
    width: 50px;
    border: .1rem solid goldenrod;
    color: goldenrod;
    display: block;
    position: relative;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background: white;
}

.works-container .number>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
}

.works-container .caption {
    display: block;
    color: darkblue;
    font-size: 1rem;
}

.works-container .step:last-child:after {
    display: none;
}

.works-container .step::after {
    width: 100%;
    height: 2px;
    content: '';
    top: 25px;
    position: absolute;
    background:goldenrod;
    z-index: -1;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.services-container .card {
    padding: 2rem;
    background: #f9f9ff;
    border-radius: .4rem;
    transition: 0.5s ease;
    box-shadow: -1rem 1rem 1.2rem 0 rgba(157, 157, 157, 0.5);
}

.services-container .card>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 0;
}

.services-container .card h4 {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: darkblue;
}

.services-container .card span {
    font-size: 1.2rem;
}

.services-container .card p {
    color: gray;
    font-size: 0.9rem;
}

.services-container .card:hover {
    box-shadow: -1rem 1rem 1.2rem 0 rgba(157, 157, 157, 0.5);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

.services-container .card:hover h4,
.services-container .card:hover span {
    color: rgb(0, 195, 255);
}

.services-container .card:hover p{
    color: rgba(255, 255, 255, 0.7);
}

.home{
    background: url(./img/father-son-quotes-1619064384.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: var(--color-bg);
    position: relative;
    filter: grayscale(40%);
}
.home-content{
    position: absolute;
    top: 0;
    left: 8rem;
    transform: translate(0, 50%);
    max-width: 500px;
}

.home-content h1 {
    color:darkblue;
}

.home-content p{
    padding: 1rem 0;
    width: 75%;   
    color: darkblue;
}

.featured-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    padding: 0 0;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.blog-container .card {
    background: #f9f9f9;
    cursor: default;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.blog-container .card .info {
    padding: 0.5rem 1rem;
}

.blog-container .card .info h4 a{
    font-weight: 600;
    padding: 1rem 0;
    color: black;
    font-size: 0.9rem;
}

.blog-container .card .info h4 a:hover{
    color: goldenrod;
}

.blog-container .card .info h6 {
    color: gray;
    font-size: 0.5rem;
}

.blog-container .card .image {
    position: relative;
}

.blog-container .card .image img {
    height: 300px;
}

.blog-container .card .image .tag {
    position: absolute;
    top: -1rem;
    left: 1rem;
    background: darkblue;
    color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.blog-container .card .info h5 {
    color: gray;
    font-size: 0.8rem;
}

.blog-container .card .info h5 span {
    color: darkblue;
    font-size: 0.8rem;
}

.blog-container .card .info p {
    color: gray;
    padding-top: .3rem;
    font-size: 0.8rem;
}

.blog-container .card .tag span {
    padding: .5rem;
    font-size: 1.5rem;
    background: goldenrod;
}

.blog-container .card .tag p {
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: 500;
}

.about-two-container h2{
    text-align: unset;
    margin: 0;
}
.history-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.history > p{
   margin-top: .5rem;
}
.history > p:first-of-type::first-letter{
    float: left;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--color-secondary);
    margin: -22px 10px 0 0;
}

.contact iframe{
    width: 100%;
    height: 500px;
}
.contact-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2rem;
    margin-top: 2rem;
}
.contact-container .left .box{
    display: flex;
    align-items: center;
    gap: 2.2rem;
    box-shadow: var(--shadow);
    padding: .5rem 2rem;
    margin: 1.1rem 0;
    color: var(--color-light);
    border-radius: .2rem;
}
.contact-container .box i{
    color: var(--color-secondary);
    font-size: 1.5rem;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-form .form-name{
    display: flex;
    gap: 1.2rem;
}
.contact-form input[type="text"]{
    width: 50%;
}
.contact-form input,
 .contact-form textarea{
    width: 100%;
    padding: 1rem;
    border-radius: .2rem;
    background: rgba(0, 0, 0, 0.1);
}

.footer{
    padding: 4rem 0;
    background-color: #212529;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.footer-container .social-icons i {
    color: #fff;
}

.footer-container .social-icons i:hover {
    color: goldenrod;
}

footer .box h4{
    margin: 1rem 0;
}

footer .box li{
    margin: .3rem 0;
}

.footer .box a:hover{
    color: var(--color-secondary);
}

footer .box p{
    margin-bottom: 1rem;
}

@media(max-width: 1024px){
    .history-container{
        grid-template-columns: 1fr;
    }

    .contact-container{
        grid-template-columns: 1fr;
    }

    .footer-container{
        grid-template-columns: repeat(3, 1fr);
    }

}
@media(max-width: 824px){
    
    h1,h2,h3,h4{
        line-height: 1;
    }

    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.2rem;
    }

    h4{
        font-size: 1.1rem;
    }

    .container{
        width: var(--width-md);
    }

    section{
        padding: 3rem 0 0;
    }

    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width: 600px){

    .container{
        width: var(--width-sm);
    }

    .home-content{
        text-align: center;
        right: .8rem;
        left: .8rem;
    }

    .footer-container{
        grid-template-columns: 1fr;
    }

}
 
#about {
    padding: 3rem 0 2rem;
    width: 100%;
    margin: 0 auto;
}

.about-container {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
}

.about .left img {
    max-width: 600px;
}

.about .right h5 {
    margin: 0 0 1rem;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 400;
}


.about .features-list {
    margin: 1rem 0;
}

.about .features-list li {
    display: flex;
    align-items: center;
    gap: 1rem;    
}

.about .right .btn {
    margin: 2rem 0;
    display: inline-block;
}

.bg-show {
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    padding: 300px 0px;
    margin: 100 0px; 
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/father_son_talking.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-show .link {
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.bg-show .link:hover {
    border-color: rgb(153, 153, 153);
}

.bg-show .link a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.2s ease-in-out;
}

.bg-show .link img {
    width: 2.2rem;
    vertical-align: middle;
    margin-left: 5px;
}

.bg-show .overlay {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 111;
    display: none;
}

.bg-show .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
}

.bg-show .image .cancel {
    position: absolute;
    top: -8%;
    right: 0;
    width: 27px;
    cursor: pointer;
}

.bg-show .image {
    animation: video 1s ease-in-out forwards;
}

@keyframes video {

    0% {
        opacity: 0;
        top: 20%;
    }

    100% {
        opacity: 1;
        top: 50%;
    }

}

.bg-show .image .bg-player {
    position: absolute;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    width: 35px;
}

.bg-show .bg-player img {
    width: 35px;
}

.bg-show .image video {
    width: 100%;
}


.features {
    padding-bottom: 3rem;
}

.features-container {
    display: grid;
    grid-template-columns: 33% 67%;
    gap: 2rem;
}

.features .left h2 {
    text-transform: capitalize;
}

.features .left > p {
    color: black;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.h-light {
    background: gray;
    font-size: 1rem;
}

.features .author {
    box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border: 1px solid #e9e8e8;
    margin-top: 1rem;
    border-left: 10px solid darkblue;
}

.features .author .box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.features .author .box img {
    width: 44px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.features .author .box div p {
    font-size: 0.8rem;
}

.features .author .box > p {
    margin: 1rem 0 0;
}

.features .image {
    border: 0.7rem solid gray;
    box-shadow: var(--shadow);
    z-index: -1;
}

.main-container {
    margin: 0 auto;
    width: 80%;
}

.banner {
    background: #f4f2f0;
    margin-bottom: 0px;
}

.banner-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem; 
}

.banner-container .counter {
    font-size: 1.5rem;
    color: gray;
}

.banner-container .counter-box h2 {
    font-size: 0.5rem;
}

.banner-container p {
    padding: 1rem 0;
    color: rgb(0, 136, 255);
    font-weight: 600;
}

.banner-container .social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
}

.banner .social-icon {
    font-size: 2rem;
    color: rgb(0, 136, 255);
}

.banner .social-icon i {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    background: aquamarine;
}

.hero{
    width: 100%;
    height: 20vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.banner-title{
    width: 60%;
    display: inline-block;
    margin-top: 50px;
    color: #000;
    text-align: center;
}

.banner-title h1{
    margin-bottom: 30px;
}

.banner-title p{
    font-size: 13px;
    line-height: 22px;
}

.row{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.col{
    flex-basis: 22%;
    text-align: center;
    color: #555;
}

.counter-box{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px -4px #a9aaae;
}

.counter-box h2{
    display: inline-block;
    margin: 15px 0;
    font-size: 50px;
    color: #000;
}

.counter-box .fa{
    font-size: 40px;
    color:rgb(0, 136, 255);
    display: block;
}

@media (max-width: 1024px) {

    header::after {
        background: rgba(0, 0, 0, 0.7);
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width: 824px) {

    section {
        padding: 3rem 0 0;
    }

    .nt-container {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .navlist {
        position: absolute;
        flex-direction: column;
        top: 3.5rem;
        z-index: 111;
        right: 0rem;
        width: 40%;
        text-align: center;
        padding: 1rem 0;
        background: rgba(0, 0, 0, 0.9);
        display: none;
    }

    .on {
        display: flex;
    }
    
}