body {
    font-family: Open Sans;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--pink: #42c0e3;
	--light-pink: #fff7f7;
	--white: #fff;
	--light-color: #777;
	--black: #444;
	--box-shadow: 0 0.6rem 0.9rem rgba(0, 0, 0, 0.2);
	--border: 0.1rem solid #42c0e3;
    --clr: #000;
	--color-primary: #0dcaf0;
    --color-primary-variant: rgb(63, 226, 238);
    --color-black: #000;
    --color-dark: gray;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.8);
    --width: 84%;
    --mobile-width: 92%;
}

button {
    outline: none;
    border: none;
    background: none;
    transition: 0.5s;
    cursor: pointer;
}

.header-top-nav-links-menu-primary {
    padding: 15px 60px;
    background: purple;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

.header-top-nav-links-menu-secondary {
    padding: 15px 60px;
    background: none;
    border: 2px solid gold;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(118, 3, 118);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    padding: 0 100px;
    transition: 0.6s;
    margin-top: 0.5rem;
}

header .logo img {
    width: 7%;
}

header .header-top {
    position: relative;
    line-height: 75px;
}

header .header-top .menu {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.hero .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.hero .slide .image {
    flex: 1 1 40rem;
}

input {
    display: none;
}

.features-container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

@media(max-width: 1060px) {
    .features-container {
        width: 80%;
        height: 80%;
    }
}

.cards {
    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards label {
    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.cards .card{
    position: relative;
    height: 100%;
    background-color: #323444;
    border-radius: 10px;
    padding: 30px 35px;
}

.card .image{
    display: flex;
    justify-content: space-between;
}

.card .image img{
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 23px;
    width: 86%;
    height: 220px;
    object-fit: cover;
}

.card .image .dots{
    text-align: center;
}

.dots div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.dots div:nth-child(1){
    background-color: var(--current-color1);
}

.dots div:nth-child(2){
    background-color: #5B85F9;
}

.dots div:nth-child(3){
    background-color: #000;
}

.card .infos{
    display: block;
    text-align: end;
    padding-top: 60px;
}

.infos span{
    display: block;
}

.infos .name{
    font-size: 24px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 20px;
    transition: all .6s ease;
    text-align: left;
}

.infos .lorem{
    font-size: 15px;
    color: #ECEAED;
    letter-spacing: 1px;
    text-align: left;
}

.card .btn-contact{
    width: 70%;
    height: 40px;
    margin: 35px auto;
    border-radius: 5px;
    background-color: rgba(160, 32, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 700;
    transition: all .7s ease;
    text-decoration: none;
}

.card .socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.socials i{
    font-size: 25px;
    transition: all .7s ease;
    color: var(--current-color2);
}

#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

.hero .slide .content {
    flex: 1 1 40rem;
    text-align: center;
}

.hero .slide .image img {
    width: 80%;
}

@media (max-width: 1060px) {
    .hero .slide .image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

.hero .slide .content span {
    font-size: 2rem;
    color: purple;
}

.hero .slide .content h3 {
    margin: 1rem 0;
    font-size: 3rem;
    color: black;
    text-transform: capitalize;
    font-family: Montserrat;
}

.gray-border {
    border: 0.5px solid rgba(112, 112, 112, 0.3);
}

.white-border {
    border: 0.5px solid #fff;
}

.gold-border {
    border: 0.5px solid gold;
}

.black-border {
    border: 0.5px solid #000;
}

.black-border-two {
    border: 0.5px solid #000;
    height: 300%; 
    background-image: url('img/retreat-the-modern-house-in-nature-01.webp'); 
    border: none; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    filter: brightness(50%)
}


.menu-item > a{
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;
    font-weight: 900;
}

.menu-item > a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.menu-item .sub-menu {
    position: absolute;
    background:purple;
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s ease;
    transition-property: transform, opacity;
}

.menu-item:hover .sub-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s ease;
}

.menu-item .sub-menu .sub-item {
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    transition: 0.5s ease;
}

.menu-item .sub-menu .sub-item a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    transition: 0.5s ease;
}

.menu-item .sub-menu .sub-item:hover {
    opacity: 0.5;
}

.menu-item .sub-menu .sub-item:last-child:hover {
    border-radius: 0 0 8px 8px;
}

.more .more-menu {
    position: absolute;
    background: purple;
    list-style: none;
    top: 0;
    left: 100%;
    white-space: nowrap;
    border-radius: 0 8px 8px 8px;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s ease;
    transition-property: transform, opacity;
}

.more:hover .more-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

.more .more-menu .more-item {
    padding: 7px 0;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.5);
    transition: 0.5s ease;
}

.more .more-menu .more-item:hover {
    opacity: 0.4;
}

.menu-btn {
    display: none;
}

@media(max-width: 1060px) {
    header .header-top .menu {
        position: fixed;
        display: block;
        background: purple;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 90px 50px;
        overflow-y: auto;
        transition: 0.5s ease;
        transition-property: right;
        visibility: hidden;
    }

    header .header-top .menu.active{
        right: 0;
        visibility: visible;
    } 
    
    .menu-item {
        position: relative;
    }

    .menu-item .sub-menu {
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        overflow: hidden;
    }

    .menu-item:hover .sub-menu {
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item {
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover {
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover {
        color: rgb(63, 226, 238);
        transition: 0.5s ease;
    }

    .more .more-menu {
        opacity: 1;
        position: relative;
        left: 0;
        transform: translateY(0);
        background: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        display: none;
    }

    .more .more-menu .more-item {
        box-shadow: none;
    }

    .more .more-menu .more-item:hover {
        background: none;
    }

    .more .more-menu .more-item a {
        margin-left: 20px;
    }

    .close-btn {
        position: absolute;
        background: url(img/white-X-removebg-preview.png)no-repeat;
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: 25px;
        top: 0;
        left: 0;
        margin: 25px;
        cursor: pointer;
    }

    .menu-btn {
        background: url(img/eps10-white-hamburger-menu-bar-line-art-icon-or-logo-in-thick-rounded-circle-isolated-on-black-background-free-vector-removebg-preview.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        display: block;
    }

    header {
        padding: 15px 20px;
    }
}

.homepage-home {
    height: 110vh;
    color: #fff;
    margin-bottom: 10%;
}

.homepage-home img {
    width: 50%;
    height: 130vh;
}

.homepage-home .homepage-home-text {
    position: absolute;
    top: 35%;
    left: 5%;
    float: left;
    padding: 20px 20px;
    background-color: rgba(116, 8, 116, 0.7);
    width: 60%;
}

.homepage-home .homepage-home-text h1 {
    font-size: 80px;
    font-family: Dancing Script;
    font-weight: 400;
}

.homepage-home p {
    margin: 20px 0;
}

.homepage-home button {
    margin-right: 20px;
    font-family: Open Sans;
}

.homepage-home-flex-two {
    padding: 100px 50px;
    background-color: #fff;
    margin-top: -60%;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    top: 40%;
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff;
}

.owl-nav .owl-prev {
    left: 0;
}

.owl-nav .owl-next {
    right: 0;
}

.who-we-are-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

input {
    outline: none;
    border: none;
    width: 100%;
}

.left,.right {
    width: 50%;
    padding: 30px;
}

.top {
    margin-top: 80px;
}

.mtop {
    margin-top: 40px;
}

.heading h1 {
    font-size: 100px;
    opacity: 0.1;
    position: absolute;
    top: -30px;
    font-weight: 600;
    color: rgb(99, 214, 234);
    font-family: sans-serif;
    text-transform: uppercase;
}

.heading h2 {
    margin: 30px 0;
    font-size: 45px;
    font-family: Open Sans;
    font-weight: 400;
}


.about {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
    padding: 5rem 10%;
    width: 80%;
    height: 300%;
    margin: 0 auto;
    box-shadow: 0 2rem 2rem rgba(150, 148, 148, 0.5);
}
.about .image {
	flex: 1 1 40rem;
}
.about .image img {
	width: 100%;
}
.about .content {
	flex: 1 1 40rem;
}
.about .content .about-title {
	font-size: 3rem;
	color: var(--black);
}
.about .content p {
	font-size: 1.5rem;
	color: var(--black);
	line-height: 2;
	padding: 1rem 0;
}
.about .content .icons-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 2rem;
	margin-top: 1rem;
    margin: 0 auto;
}
.about .content .icons-container .icons {
	text-align: center;
	border: #D8BFD8;
	background-color: purple;
	padding: 2rem 1rem;
	transition: 0.5s ease;
    width: 80%;
    
}

.about .content .icons-container .icons:hover {
	text-align: center;
	opacity: 0.7;
	padding: 2rem 1rem;
	transform: scale(1.1);
}
.about .content .icons-container .icons img {
	height: 5rem;
	margin-bottom: 0.5rem;
}
.about .content .icons-container .icons h3 {
	padding: 0.5rem 0;
	font-size: 3rem;
	color: var(--black);
}
.about .content .icons-container .icons span {
	font-size: 1.5rem;
	line-height: 2;
	color: var(--black);
}

/**
.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    top: -20%;
    height: 50px;
    width: 50px;
    background: #7fc142 !important;
}

.owl-nav .owl-prev,
.owl-nav .owl-next i {
    color: #fff;
}

.owl-nav .owl-prev {
    left: 90%;
}

.owl-nav .owl-next {
    right: 0;
}
**/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
 
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.nav-container {
    width: var(--width);
    margin: 0 auto;
}

/*
section:nth-child(even) {
    background: #fff;
}
*/

section#faqs {
    margin-top: 20px;
}

section#faqs h2 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
}

section#faqs .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

section#faqs .content article {
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 1.4rem;
    height: fit-content;
    background: purple;
    cursor: pointer;
}

section#faqs .content article h4 {
    color: var(--color-white);
}

section#faqs .content article {
    color: var(--color-white);
    font-size: 1.2rem;
}

section#faqs .content article p {
    margin-top: 1rem;
    color: var(--color-light);
    display: none;
}

section#faqs .content article.open p {
    display: block;
}

section#faqs a.btn {
    display: block;
    margin: 0 auto;
    width: 12rem;
    text-align: center;
    margin-top: 1.6rem;
}

.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

section#contact {
    margin-top: 40px;
}

section#contact .nav-container {
    display: grid;
    grid-template-columns: 20rem auto;
    gap: 5rem;
}
section#contact aside {
    background: purple;
    padding: 2rem;
    font-size: 0.9rem;
    color: var(--color-light);
}

section#contact aside h4 {
    color: #fff;
    font-size: 1.8rem;  
    margin-bottom: 0.5rem;
    font-weight: 600;
}

section#contact aside article {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

section#contact aside article i {
    color: #fff;
    font-size: 1.2rem;
}

section#contact aside article h5 {
    font-weight: 600;
    color: #fff;
}

section#contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section#contact form input,
section#contact form text-area {
    padding: 1.4rem;
    background: purple;
}

section#contact form textarea {
    height: 10rem;
    background: purple;
    border: none;
}

section#contact form input::placeholder,
section#contact form
textarea::placeholder {
    color: var(--color-light);
}

section#contact form input:focus, 
section#contact form textarea:focus {
    background: rgb(230, 44, 230);
    border: none;
    color: #fff;

}

section#contact form button {
    width: 10rem;
    color: white;
    padding: 10px 30px;
    background-color: black;
    transition: 0.5s ease;
}

section#contact form button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    section#contact .nav-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

footer {
    background: purple;
    margin-top: 5rem;
    padding-top: 5rem;
    font-size: 0.9rem;
    color: white;
}

footer h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer .nav-container h2,h3,h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .nav-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: space-between;
}

footer .nav-container h4 {
    color: white; 
}

footer .nav-container .f1 p  {
    margin: 1rem 0 2rem;
}

footer .nav-container .f1 .subscribe {
    background: transparent;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

footer .nav-container .f1 .subscribe input {
    background: transparent;
    color: white;
    margin-left: 1rem;
}

footer .nav-container .f1 .subscribe input::placeholder {
    color: white;
}

footer .nav-container .f1 .subscribe button {
    background: white;
    color: black;
    transition: all 300ms ease;
    width: 3rem;
    height: 100%;
    font-size: 1.2rem;
}

footer .nav-container .f1 .subscribe button:hover {
    opacity: 0.5;
    cursor: pointer;
}

footer .nav-container .f1 p {
    margin-bottom: 1.6rem;
}

footer .nav-container .socials {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
}

footer .copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    color: white;
    border-top: 1px solid white;
}


@media screen and (max-width: 1024px) {
    h1 {
        font-size: 4.4rem;
        letter-spacing: 1px;
    } 
    
    h2 {
        font-size: 2.7rem;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 0.9rem;
    }

    .nav-container {
        width: var(--mobile-width);
    }

    section#faqs h2 {
        margin-bottom: 3rem;
    }

    section#faqs .content {
        grid-template-columns: 1fr;
    }

    section#faqs .content article {
        padding: 1.5rem;
    }

    footer .nav-container {
        grid-template-columns: 1fr;
        gap: 3rem;
        text-align: center;
    }

    footer .socials {
        justify-content: center;
    }

    footer .socials i {
        font-size: 1.5rem;
    }

}

/**
.tabs .nav-pills .nav-item{
    margin-bottom: 10px;
}
.tabs .nav-pills .nav-item .nav-link{
    background:#fff;
    border-radius:4px;
    color:#000;
    font-weight:bold;
    border:1px solid rgba(20,54,1,0.6);
    font-size:20px;
    line-height: 30px;
}
.tabs .nav-pills .nav-item .nav-link span{
    color:#053001;
    font-size:30px;
}
.tabs .nav-pills .nav-item .nav-link.active{
    color:#fff;
    background:#053001;
    border:1px solid #9ef596;
}
.tabs .nav-pills .nav-item .nav-link.active span{
    color:#fff;
}
.tabs .tab-content{
    background:#fff;
    padding:0;
}
.tabs .tab-content .img{
    width:100%;
    height:400px;
    margin-bottom:20px;
}
.tabs .tab-content h3{
    font-weight:bold;

}
.tabs .tab-content h3 a{
    color:#000;
}

*/
.blog-navigation {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #fff;
}

.blog-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-top: 1px solid rgba(200, 51, 51, 0.05);
    border-bottom: 1px solid rgba(200, 51, 51, 0.05);
    background-color:#fff;
} 

.blog-filter li {
    padding: 5px 15px;
    color: rgb(104, 97, 97);
    cursor: pointer;
    margin: 3px;
    font-weight: 400;
    letter-spacing: 0.5;
    user-select: none;
}

.blog-filter li:hover,
.blog-filter-active {
    background-color: rgba(0, 0, 0, 0.3);
    color: purple !important;
    transition: 0.5s ease;
}

ul {
    list-style: none;
}

.blog-container {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: auto;
}

.blog-box {
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    border: 0.5px solid rgb(219, 216, 216);
}

.blog-img {
    width: 100%;
    min-height: 185px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.blog-img img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
}

.category {
    color: #fff;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 2px 10px;
    font-size: 0.9rem;
    background-color: purple;
}

.app .category {
    background-color: purple;
}

.new .category {
    background-color: red;
}

.web .category {
    background-color: blue;
}

.blog-text a {
    text-decoration: none;
}

.blog-text strong {
    font-size: 1.0rem;
    text-decoration: none;
    color: #000;
    display: flex;
    font-weight: 400;
    margin: 10px 0px;
    font-family: Montserrat;
}

.category-time {
    display: flex;
    align-items: center;
}

.category-time span {
    font-size: 0.8rem;
}

.blog-category {
    padding: 3px 6px;
    color: rgb(222, 23, 222);
    font-weight: 800;
    background-color: #fff;
}

.published-time {
    margin-left: 10px;
    color: rgb(222, 23, 222);
    font-weight: 800;
}

.publisher-profile {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.publisher-profile img {
    width: 30px;
    height: 30px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.publisher-profile span {
    color: #000;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    font-weight: 800;
    margin-left: 4px;
}

.fix-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
    z-index: 105;
    animation: nav-animation 0.3s;
}

@keyframes nav-animation {
    0% {
        top: -100%;
    }
    100% {
        top: 0px;
    }
}

@media(max-width: 1200px) {
    .blog-container {
        width: 1000px;
    }  
    .blog-img {
        min-height: auto;
        height: 170px;
    }
}

@media(max-width: 1060px) {
    .blog-container{
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 1060px) {
    .blog-container {
        max-width: 90%;
        grid-template-columns: 1fr;
    }
    .blog-img {
        height: auto;
    }
    .blog-filter {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0px;
        top: 70px;
        width: 100%;
        border-bottom: 2px solid #fff;
        z-index: 105;
    }
    .blog-filter li {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .blog-category {
        width: 100%;
    }
}

.blog-text a strong:hover {
    color: gray;
    transition: 0.5s ease;
}

#blog-article {
    display: grid;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.article-container {
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    padding: 30px;
}

.article-main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-main-heading h1 {
    color: rgb(80, 78, 78);
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
}

.by-date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.article-by, 
.article-date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: gray;
}

.article-by i,
.article-date i {
    margin: 0px 10px;   
}

.article-img {
    width: 100%;
    min-height: 500px;
    margin: 10px 0;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.article-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
}

.content-ad {
    width: 80%;
    display: flex;
    margin: 20px auto 10px auto;
}

.content-ad img {
    width: 100%;
    object-position: center;
    object-fit: contain;
}

.article-text {
    display: flex;
    flex-direction: column;
}

.article-text-box {
    margin: 10px 0px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-left: 2px solid #000;
    background-color: #fff;
}

.article-text-box strong {
    color: black;
    font-size: 1.3rem;
    margin-top: 4px;
    font-weight: 900;
}

.article-text-box p {
    font-weight: 500;
    font-family: Montserrat;
    text-align: left;
}

.sr {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }

.sr.reveal {
    opacity: 1;
    transform: translateY(0);
}

.team-container {
    background-color: rgba(0, 0, 0, 0.88);
    padding: 200px 20px;
    align-items: flex-start;
}

.team-container-head h1 {
    margin-bottom: auto;
    margin-left: 20%;
    margin-top: none;
    color: #fff;
    top: 0;
    left: 0;
    font-size: 3rem;
}

.team-container-head h2 { 
    color: #fff;
    margin-left: 15%;
}

.team-container-profile .profile img {
    width: 60%;
    border-radius: 50%;
}

.team-container-profile .profile img:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
    transform: translateY(-20px);
}
.team-container-profile {
    display: flex;
    margin: 0 auto;
    margin-left: 10%;
}

@media(max-width: 1060px) {
    .team-container-profile {
        grid-template-columns: 1fr 1fr;
    }
    .team-container-head h1 {
        margin-left: 15%;
        font-size: 2rem;
        margin-top: -20%;
    }
    .team-container-head h2 {
        font-size: 1rem;
        letter-spacing: 1.5px;
    }
    .social-icons a i {
        font-size: 15px;
    }
    .team-container-profile .profile span {
        font-size: 0.75rem;
    }
    .team-container-profile .profile small {
        font-size: 0.65rem;
    }
}

.team-container-profile .profile span {
    color: #fff;
    display: flex;
}

.team-container-profile .profile small {
    color: #fff;
    display: flex;
}

.team-container-profile .profile .profile-icons {
    color: white;
}

.hotel-container {
    max-width: 80%;
    margin: auto;   
}

.social-icons {
    margin-top: 10px;
}
.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: #fff;    
}
.social-icons a:hover {
    transform: scale(1.5);
    transition: 0.5s ease;
}

#home {
    padding: 1.5rem 9%;
}

.video-home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.video-btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: purple;
    color: #fff;
    padding: 1rem 3rem;
    cursor: pointer;
    text-decoration: none;
}

.video-home .content {
    text-align: center;
}

.video-home .content h3 {
    font-size: 3.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.1);
}

.video-home .content p{
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem 0;  
}


.video-home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.services .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box {
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.services .box-container .box i {
    padding: 1rem;
    font-size: 2rem;
    color: purple;
}

.services .box-container .box h3 {
    font-size: 1rem;
    color: #333;
}

.services .box-container p {
    font-size: 1.0rem;
    color: #666;
    padding: 1rem 0;
}

.services .box-container .box:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.1);
}

@media(max-width: 1060px) {
    .text-box h1{
        font-size: 2rem;
        width: 80%;
        text-align: center;
    }
}

@keyframes scroll{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 6));
    }
}

.logos-slider {
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.logos-slider .logos-slide-track {
    /*animation: scroll 20s linear infinite;*/
    display: flex;
    width: calc(250px * 14);
}

.logos-slider .logos-slide {
    height: 100px;
    width: 250px;
}

.logos-slider-text h1 {
    text-align: center;
    font-family: Abhaya Libre;
    font-weight: 800;
    font-size: 35px;
}

.logos-slider-text h2 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 20px;
}