* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Montserrat;
    line-height: 1.5;
    background-color: rgb(158, 192, 207);
}
header {
    color: white;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}
.container {
    background-color: white;
}
.container h2{
    text-align: center;
    background-color: #6fafda;
    padding: 15px;
    color: white;
    font-family: Roboto;
    font-weight: 800;
    font-size: 4rem;
}
.container .subheader {
    text-align: center;
    margin-top: 1rem;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 350;
    line-height: 125%;
}
.container .head {
    text-align: center;
    font-weight: 850;
    font-family: Roboto;
    font-size: 35px;    
}
.container .subheader-info {
    margin-left: 5%;
}
.container .subheader-info span {
    font-weight: 800;
}
.blog-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn {
    padding: 10px 10px; 
    border: solid;
    transition: 0.5s ease;
}
.btn:hover {
    opacity: 0.7;
}